#container {
  font-family: 'Lora', serif;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
}

h1 {
   font-family: 'Righteous', cursive;
    margin-top: 0px;
    color: white;
    margin-left: 10px;
    font-size: 80;
}


#head
{text-align: center;
}



#piechart
{align-content: left;}

}

body
{background-color: white;}

.question
{ font-weight: 700;
  font-size: 30px;
  text-align: center;
}


#deck
{font-weight: 500;
  font-size: 30px;
  text-align: center;}

.row
{margin-top: 20px;
  margin-bottom: 20px;}

.answer
{font-stretch: extra-condensed;
margin-top: 30px;
margin-bottom: 30px;
font-size: 20px;
width: auto;
text-align: center;}

.text
{font-size: 20px;
text-align: center;}

.parallax-container {
  height: 550px;
}

.two-column-images {
  max-width: 80%;
}

.wrap-img {
  text-align: center;
}

header {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(http://static1.thisisinsider.com/image/577fee16d7c3db25008b4b66-1280/gettyimages-545315652.jpg);
  background-size: cover;
  height: 100vh;
}


.background-color
{background-color: black;
color: white;}

.background-color-1
{background-color: white;}


.blockquote
{font-size: 25px;
font-style: italic;
}

#writer
{font-size: 15px;
font-style: italic;
margin-top: 15px;}

footer.page-footer
{background-color: black;}

#playlist-container
{
  font-family: 'Righteous', cursive;
  border-style: solid;
  border-color: white;
    border-width: 5px;
    background-color: gray;
    font-size: 30px;}


#answer1
{font-size: 20px;}




